<div style="text-align: center; margin: 1em;font-size: larger; font-weight: bold;">{{ task }} <span style="color: red;">updated</span></div>
<div style="margin: auto; width: 50%; border: 3px solid green; padding: 10px;">
    <div style="padding: 0.2em;">Description: {{ task.description }}</div>
    <div style="padding: 0.2em;">Creation time: {{ task.created_at }}</div>
    <div style="padding: 0.2em;">Is it finished/completed?: <span style="color: red;">{{ task.completed }}</span></div>
</div>
<div style="margin: auto; width: 50%; border: 3px solid orange; padding: 10px;">
    <ul>
        <li><a href="..">Back</a></li>
    </ul>
</div>